<table>
	<tr>
		<th> Download </th>
	</tr>
	<tr>
		<td> Experiment 1 </td>
	</tr>
</table>
<div id = "results">
	<% for subject in @subjects%>
<!-- 		<%= subject.keycode %> -->
		<%= subject.question %>
		<br/>
	<% end %>
</div>